<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contxt="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
<!--    扫描接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dao"/>
    </bean>
    <contxt:component-scan base-package="com">
           <contxt:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
<!--           <contxt:exclude-filter type="regex" expression="com.controller"/>-->
       </contxt:component-scan>
<!--    构建sqlSessionFactory-->
      <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
          <property name="dataSource" ref="dataSource"/>
          <property name="mapperLocations" value="classpath*:mappers/**.xml"/>
          <property name="configuration">
              <bean class="org.apache.ibatis.session.Configuration">
                   <property name="mapUnderscoreToCamelCase" value="true"/>
              </bean>
          </property>
      </bean>
<!--     配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"/>
<!--    开启代理-->
    <aop:aspectj-autoproxy/>
<!--    注册一个切面-->
    <bean id="myAspect" class="com.config.MyAspect"></bean>
<!--    aop切面配置-->
    <aop:config>
        <aop:pointcut id="mypointcut" expression="execution(* com.service..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="mypointcut"/>
        <aop:aspect ref="myAspect">
            <aop:after method="After" pointcut-ref="mypointcut"/>
        </aop:aspect>
    </aop:config>
<!--    配置事务管理-->
    <bean id="TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
<!--  配置事务管理的增强  -->
    <tx:advice id="txAdvice" transaction-manager="TransactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="update*" rollback-for="Exception"/>
            <tx:method name="delete*" rollback-for="Exception"/>
            <tx:method name="add*" rollback-for="Exception"/>

        </tx:attributes>
    </tx:advice>
</beans>